<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>FikFak</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head> 
 <body>
    <h1 class="text-center"> "Welcome to Yik Yak" </h1>
   <div align="right" class="logo">
     <img src="http://cliparts101.com/files/603/F74346753C66B8DBF42EF4AB70A5A774/Yak_1.png" style="width:80px;height:65px;" >  
   </div>
 </body>
</html>