<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>   

<div class="container">
  <h2>Yik Yak login</h2>
  <form role="form" action="/signin" method="POST" >
    <div class="select">
      <select class="form-control" required>
      <option value="" disabled selected>Location here</option>
  <option>NYC</option>
  <option>Boston</option>
  <option>Los Angeles</option>
</select>
    </div>
    <button type="submit" class="btn btn-default">CLICK HERE TO ENTER THE WORLD OF YAKILICIOUSNESS</button>
  </form>
</div>
<!-- <form action="/signin" method="POST">
      
        
      <input type="submit" value="CLICK HERE TO ENTER THE WORLD OF YAKILICIOUSNESS">
</form> -->