    <form action="/signin" method="POST">
      <select required>
        <option value="" disabled selected>Location here</option>
  <option>NYC</option>
  <option>Boston</option>
  <option>Los Angeles</option>
</select>
      <input type="submit" value="CLICK HERE TO ENTER THE WORLD OF YAKILICIOUSNESS">
</form>